.input-container {
  display: flex;
  flex-direction: column;
  width: 550px;
}

label {
   font-size: 1rem;
   margin-bottom: 15px;
}

.input {
   font-size: 1.25rem;
   margin: 10px 0 0 0;
   padding: 5px;
   border-radius: 0;
   border: none;
   border-bottom: 1px solid #b1b1b1;
   height: 30px;
}

.input:focus {
   outline: none;
   border-bottom: 1px solid #222222 !important;
}

textarea {
   resize: none;
}

#submit-btn {
   box-sizing: border-box;
   width: 200px;
   border: none;
   border-radius: 0;
   padding: 10px;
   background: #222222;
   color: #ececec;
}

span {
   color: #e00000;
}