.input {
  display: flex;
  flex-direction: column;
  align-items: right;
  width: 550px;
}

label {
   font-size: 1rem;
   margin-bottom: 15px;
}

input {
   font-size: 1.25rem;
   margin: 10px 0 0 0;
   border-radius: 0;
   border-top: none;
   border-left: none;
   border-right: none;
   padding: 5px;
}

input:focus {
   outline: none;
   border-bottom: 1px solid #222222 !important;
}

#create-post-username {
   box-sizing: border-box;
   border-bottom: 1px solid #b1b1b1;
   width: 200px;
}

#create-post-title {
   border-bottom: 1px solid #b1b1b1;
}

#create-post-description {
   border: 1px solid #b1b1b1;
   padding-bottom: 200px; 
}

#submit-btn {
   box-sizing: border-box;
   width: 200px;
   border: none;
   border-radius: 0;
   padding: 10px;
   background: #222222;
   color: #ececec;
}

span {
   color: #e00000;
}