.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post {
  box-sizing: border-box;
  width: 600px;
  border: 1px solid #b1b1b1;
  border-top: none;
}

.post:hover {
  background: #ececec;
}

.footer {
  text-align: right;
  color: #111111;
  font-weight: bold;
  padding: 10px;
}

.title {
  padding: 10px;
}

.body {
  text-align: center;
  padding: 50px;
}