.post-full {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.single-post-time {
   border-bottom: 1px solid #b1b1b1;
}

.go-back {
   display: flex;
   margin: 10px 0;
}

.go-back-icon {
  padding: 5px;
  border-radius: 30px;
  cursor: pointer;
}

.go-back-icon:hover {
  background: #ececec;
}

.go-back-text {
   margin-left: 20px;
   font-weight: bold;
   font-size: 1.25rem;
}

/* create comment */
.create-comment-container {
   display: flex;
   flex-direction: column;
}

.create-comment-input {
   font-size: 1.25rem;
   height: 30px;
}

.create-comment-input:focus {
   height: 30px;
}

.create-comment-btn {
   margin: 10px 0;
   margin-left: auto;
   padding: 10px 15px;
   border-radius: 25px;
   border: none;
   background: #222222;
   color: #ececec;
   width: 100px;
}

.comment-container {
   box-sizing: border-box;
   border: 1px solid #b1b1b1;
   width: 600px;
   border-top: none;
   padding: 0 20px;
}

.comment {
   padding: 10px 0;
}