.profile-avatar {
  display: flex;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.basic-info {
  padding: 0 20px 10px 20px;
  border-bottom: 1px solid #b1b1b1;
}

.edit-profile {
  display: flex;
}

.join-time {
  color: #777777;
  font-size: 0.8rem;
}

.follow-info-container {
  display: flex;
}

.follow-info {
  margin: 15px;
  margin-left: 0;
  margin-bottom: 5px;
  text-decoration: none;
  color: #222222;
}

.follow-info:hover {
  text-decoration: underline;
}

.follow-number {
  font-weight: bold;
  color: #222222;
}